/*
elements of:
#livestream
*/
.card-columns{
    width: 800px;
    margin: 20px;

}


#liveStreamFilters {

    float: left;
    width: 100%;
    height: 5%;
    background-color: #228B22;
    color: white;
    text-align: center;

}

#search-container {
    background-color: #228B22;
    width: 100%;
    height: 40px;
}

.topic-right {
	width: 50%;
	height: 100%;
	float: right;
}

/*comm
sections of:
#topic
*/

#topicAreaTitle {
    padding-left: 1%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
}

.topic-vote-section {
	background-color: black;
}
#topicAreaBottom {
    width: 100%;
    height: auto;
    background: silver;
    float: left;
}


/*
elements of:
#topic
*/
.topicsElements {
    background-color: rgba(0, 0, 0, 0.4);

}

#topicTitle {

    height: 2%;
    font-size: 20%;
}



/*
sections of:
äcomment
*/
#commentsSection {
    float: left;
    width: 100%;
    height: auto;
}

#commentsActual {
    clear: left;
    width: 50%;
    float: left;
}

#commentsBest {
    float: left;
    width: 50%;
}

.addCommentingArea {
    clear: left;
    width: 100%;
    float: left;
}

#commentingArea  {
    float: left;
    width: 100%;
    height: 5%;
}

#inputComment {
    margin-top: 1%;
    margin-bottom: 1%;
    float: left;
    width: 80%;
    height: 80%;
}

#buttonAddComment {
    float: right;
    font-size: 80%;
    width: 15%;
    height: 80%;
}
#buttonAddTopic {
    float: left;
    font-size: 80%;
    width: 40%;
    height: 20px;
}
/*
elements of:
#comment
*/

.draggableTopicsComment {
    width: 130px;
    height: auto;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 13px;
    text-align: left;
}

.commentArrow {
    width: 100%;
    height: 25px;
    background-color: grey;
}

.createTopicArrow {
    float: left;
    width: 100%;
    height: 3%;
    background-color: grey;
    text-align: center;
    color: white;
    font-style: oblique;
}

#inputTopicTitle{
    float: left;
    width: 80%;
    height: 20px;
}
#inputTopicDescription {
    float: left;
    width: 80%;
    height: 80px;
}

#inputTopicBackground {
    float: left;
    width: 80%;
    height: 80px;
}

#inputTopicVoteOptions {
    float: left;
    width: 80%;
    height: 20px;
}

#buttonDeleteTopic {
    width: 100%;
    height: 3%;
}